option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
files:
  "/etc/awslogs/awscli.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        [plugins]
        cwlogs = cwlogs
        [default]
        region = eu-west-3

  "/etc/awslogs/config/beanstalklogs.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        [/var/log/httpd/error_log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/httpd/error_log
        log_stream_name={instance_id}
        file=/var/log/httpd/error_log*
        
        [/var/log/httpd/access_log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/httpd/access_log
        log_stream_name={instance_id}
        file=/var/log/httpd/access_log*
        
        [/var/log/nginx/error.log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/nginx/error.log
        log_stream_name={instance_id}
        file=/var/log/nginx/error.log*
        
        [/var/log/nginx/access.log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/nginx/access.log
        log_stream_name={instance_id}
        file=/var/log/nginx/access.log*
        
        [/var/log/eb-activity.log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/eb-activity.log
        log_stream_name={instance_id}
        file=/var/log/eb-activity.log*
        
        [/var/log/tomcat8/catalina.out]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/tomcat8/catalina.out
        log_stream_name={instance_id}
        file=/var/log/tomcat8/catalina.out*
       
        [/var/log/sikb-api/sikb-logger.log]
        log_group_name=/aws/elasticbeanstalk/SikbApi-env-1/var/log/sikb-api/sikb-logger.log
        log_stream_name={instance_id}
        file=/var/log/sikb-api/sikb-logger.log*

container_commands:
  10logs:
    command: sudo service awslogs restart